# Ignorar archivos de configuración
*.config

# Ignorar archivos de log
*.log

# Ignorar directorios de compilación
/build/
/dist/

# Ignorar archivos de entorno virtual de Python
venv/
# Ignorar archivos de configuración
*.config

# Ignorar archivos de log
*.log

# Ignorar directorios de compilación
/build/
/dist/

# Ignorar archivos de entorno virtual de Python
venv/
config.py
